body
{
	background: url(../content/base2.png) no-repeat ;
	background-size: 960px;
}
	
#fullpage
{
	width: 1024px;
	margin: auto;
	font-family: Arial, 'Times New Roman', Impact, sans-serif;

	opacity: 0;
   
    -webkit-transition: opacity 2s ease-in;
    -moz-transition: opacity 2s ease-in;
    -o-transition: opacity 2s ease-in;
    -ms-transition: opacity 2s ease-in;
    transition: opacity 2s ease-in;

}
#fullpage.load
{
	opacity: 1;
}