#fullpage
{
	background: url(../content/base2.png) no-repeat ;
	background-size: 960px;

	

	width: 1024px;
	margin: auto;
	font-family: Century Gothic, arial, sans-serif;

}	
/*css entete*/
header
{
	display: flex;
	justify-content: space-between;
	border-bottom: 2px solid	rgba(0, 100, 0, 0.3);
	padding-bottom: 40px;
	padding-right: 20px;
}
					
h1, h2
{
	font-variant-caps: small-caps;
	color: green;
}

header h1
{
	font-size: 3em;
}


/*CSS contenue*/
main
{
	display: flex;
	margin-top: 40px;
	padding-bottom: 40px;
	border-bottom: 2px solid rgba(0, 100, 0, 0.3) ;
}

/*CSS COLONNE GAUCHE*/	
aside
{
	background-color: rgba(0, 50, 0, 0.2);
	box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.5);
	border-radius: 10px;
	padding: 10px;
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: space-around;		 
}
aside ul
{
	list-style: none;
	text-align: justify;
}
.saut_ligne
{
	margin-bottom: 1em;
}
aside img
{
	width: 20px;
}
aside h2
{
	text-align: center;
	font-style: italic;
	font-weight: lighter;
	padding-top: 20px;
	padding-bottom: 60px;
}
aside h1
{
	font-size: 1.3em
}
/*CSS TEXTE CENTRAL*/
article
{
	margin-left: 50px;
	margin-right: 30px;
	text-align: justify;
	flex:  2;
}
article h1
{
	font-size: 2em;
	border-bottom: 2px solid rgba(0, 50, 0, 0.3);
}
#liste_MS a
{
	text-decoration: none;
	color: black;
}
#liste_MS a:hover
{
	text-decoration : underline
}
article a:active
{
	color: green;
	text-shadow: 2px 1px 2px green;
}
.experience
{
	margin-bottom: 0px;

}
.societe
{
	margin-left: 300px;
	font-style: italic;
	text-decoration: underline rgba(50,100,0,0.5);
	margin-top: 0px;
}
.societe a
{
	text-decoration: underline rgba(50,100,0,0.5);
	color: black;
}
/*CSS FOOTER*/
footer
{
	background-color: rgba(0, 50, 0, 0.2);
	box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.5);
	border-radius: 10px;
	padding: 10px 40px 10px 40px;
	margin-top: 40px;
	border-radius: 20px;
	
	align-content: center;
	font-size: 0.8em;
}

/*MEDIA QUERIES*/
@media screen and (max-width: 800px)
{
	#fullpage
	{
		width: auto;
	}
	header img
	{
		display: none;
	}

	main
	{
		flex-direction: column;

	}
	aside h2
	{
		max-width: 310px;
		margin: auto;
	}
	
	article
	{
		
		margin: auto;	
	}
	
	#competences
	{
		background-color: rgba(0, 50, 0, 0.2);
		box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.5);
		border-radius: 10px;
		padding-left: 10px;
		padding-right: 10px;
	}
	#experiences
	{
		background-color: rgba(0, 50, 0, 0.2);
		box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.5);
		border-radius: 10px;
		padding-left: 10px;
		padding-right: 10px;
	}

}