@media screen and (max-width: 800px)
{
	#fullpage
	{
		width: auto;
	}
	header img
	{
		display: none;
	}

	main
	{
		flex-direction: column;

	}
	aside h2
	{
		max-width: 310px;
		margin: auto;
	}
	
	article
	{
		
		margin: auto;	
	}
	
	#competences
	{
		background-color: rgba(0, 50, 0, 0.2);
		box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.5);
		border-radius: 10px;
		padding : 20px
	}
	#experiences
	{
		background-color: rgba(0, 50, 0, 0.2);
		box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.5);
		border-radius: 10px;
		padding : 20px
	}
}