header
{
	display: flex;
	justify-content: space-between;
	border-bottom: 2px solid	rgba(0, 100, 0, 0.3);
	padding-bottom: 40px;
	padding-right: 20px;
}
					
h1, h2
{
	font-variant-caps: small-caps;
	color: green;
}

header h1
{
	font-size: 3em;
}